* {
  padding: 0;
  margin: 0;
}

body {
  color: black;
  font-family: sans-serif;
  background-color: #ec9d00;
}

.filter-options {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.f-option {
    margin: 10px;
    background-color: black;
    color: #ff6b00;
    border-radius: 0.75rem;
    padding: 5px;
    cursor: pointer;
}

.selected {
    background-color: white;
    border-color: #ff6b00;
}

.f-option:hover {
    opacity: 50%;
}

.portfolio {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.p-item {
    color: #ff6b00;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
}

.p-item:hover {
    opacity: 50%;
}

.p-image {
    padding: 10px;
}

.p-title {
    padding: 10px;
    text-align: center;
}

* {
    overflow-x: hidden;
}

.p-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
}